@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

body {
	margin: 0;
	padding: 1rem;
	font-size: 16px;
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: $veryDarkBlue;
	background-color: $veryLightGrayishBlue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1;
}

p {
	line-height: 1;
	margin: 0;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}
